/* titillium-web-200 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/titillium-web-v15-latin_latin-ext-200.eot'); /* IE9 Compat Modes */
  src: url('../fonts/titillium-web-v15-latin_latin-ext-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v15-latin_latin-ext-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v15-latin_latin-ext-200.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/titillium-web-v15-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/titillium-web-v15-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v15-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v15-latin_latin-ext-300.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/titillium-web-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/titillium-web-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v15-latin_latin-ext-regular.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-600 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/titillium-web-v15-latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: url('../fonts/titillium-web-v15-latin_latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v15-latin_latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v15-latin_latin-ext-600.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}
/* titillium-web-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/titillium-web-v15-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/titillium-web-v15-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/titillium-web-v15-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/titillium-web-v15-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/titillium-web-v15-latin_latin-ext-700.svg#TitilliumWeb') format('svg'); /* Legacy iOS */
}

/* raleway-300 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/raleway-v28-latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-v28-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v28-latin_latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v28-latin_latin-ext-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v28-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-v28-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v28-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v28-latin_latin-ext-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-500 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/raleway-v28-latin_latin-ext-500.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-v28-latin_latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v28-latin_latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v28-latin_latin-ext-500.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v28-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-v28-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v28-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v28-latin_latin-ext-700.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-800 - latin_latin-ext */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/raleway-v28-latin_latin-ext-800.eot'); /* IE9 Compat Modes */
  src: url('../fonts/raleway-v28-latin_latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v28-latin_latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v28-latin_latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v28-latin_latin-ext-800.svg#Raleway') format('svg'); /* Legacy iOS */
}

.red-info{color:white}
.faturabilgisi .red-info{margin-top:-19px}
.green-info i{font-size:135px;color:rgb(0 0 0 / 16%);margin:0;position:absolute;z-index: 5;left:-15px;top:-20px}
.blue-info i{font-size:135px;color:rgb(0 0 0 / 16%);margin:0;position:absolute;z-index: 5;left:-15px;top:-20px}
.red-info i{font-size:135px;color:rgb(0 0 0 / 16%);margin:0;position:absolute;z-index: 5;left:-15px;top:-20px}
.green-info a{color:#fff;font-weight:700}
.blue-info a{color:#fff;font-weight:700}
.red-info p{margin:0;z-index: 7;position: relative;color:white;}
.blue-info p{margin:0;z-index: 7;position: relative;color:white;}
.green-info p{margin:0;z-index: 7;position: relative;color:white;}
.red-info h5{margin:0;z-index: 7;position: relative;}
.blue-info h5{margin:0;z-index: 7;position: relative;}
.green-info h5{margin:0;z-index: 7;position: relative;}
.red-info .padding20{padding:20px 15px;padding-left:25px}
.blue-info .padding20{padding:20px 15px;padding-left:25px}
.green-info .padding20{padding:20px 15px;padding-left:25px}
.red-info .padding15 {padding:20px 15px;padding-left:25px}
.blue-info .padding15{padding:20px 15px;padding-left:25px}
.green-info .padding15{padding:20px 15px;padding-left:25px}
.modal-foot-btn{float:left;width:100%;background:#f1f1f1;padding:19px;text-align:center}
.modal-foot-btn .lbtn{padding:8px 25px}
.modal-foot-btn .red{background:#F44336;color:white}
.modal-foot-btn .red:hover{background:#d73c30;color:white}
.modal-foot-btn .blue{background:#00bcd4;color:white}
.modal-foot-btn .blue:hover{background:#08a4b8;color:white}
.verificationcontent{padding:30px}
.verificationcontent p{font-size:18px;text-align:center}
.verificationcontent h1{text-align:center;font-size:24px;font-weight:bold;color:#8bc34a}
.verificationcontent h1 i{font-size:80px}
.verificationcontent form{text-align:center}
.verificationcontent input{text-align:center;width:200px;font-size:16px;font-weight:bold}
.secureoptions{width:265px;margin:auto;margin-top:35px;font-size:16px;font-weight:600;margin-bottom:15px}
.notverification{font-size:13px;color:#b5b5b5;width:100%;text-align:center;display:inline-block;margin-top:20px}
.notverification a{color:#b5b5b5;font-weight:600}
.socialconnect .fa-spinner{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear;position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;width:100%;margin-top: 21px;line-height: 0px;}
.orderuserlogin .socialconnect{float:none;display:inline-block;width:100%;margin-top:0px;padding:0px}
.uzantibox{text-transform:inherit}
.setup-fee-period-block h3{margin-top:-20px}
.setup-fee-period{background:rgb(0 0 0 / 13%);border-radius:3px;padding:2px 6px;font-weight:600;font-size:14px}
#newsletter_gdpr{float:left;margin-left:2.6%;margin-top:10px;text-shadow:0 0 2px #fff}
.ebulten{height:auto}
.ebultencont{margin:100px auto}
#newsletter_submit_inactive {background: #adc7d4;cursor: not-allowed;}
#newsletter_submit_inactive:hover {background: #adc7d4;}
.ac-domainlist-status{float:left;    margin: 15px 0;}
.ac-domainlist-status a{opacity:.7;padding:7px 10px;border-left:2px solid #eee;float:left;line-height:15px;border-radius:3px}
.ac-domainlist-status a.active{background:rgb(0 0 0 / 8%);opacity:1}
.ac-domainlist-status a:hover{opacity:1}
.whoisprotected{background:#00bcd4}
.cart-additional-details{float:left;width:100%;border-top:1px solid #eee;padding-top:10px;margin-top:10px;font-size:14px}
.cart-additional-details a{margin-right:10px;opacity:.7}
.cart-additional-details a:hover{opacity:1}
.cart-additional-details a i{margin-left:5px}
#ModifyDefaultNameserver input{width:240px}
.subtab > ul {background: #607D8B;font-weight: 600;}
.subtab>ul.tab li a{color:white;border-right:1px solid rgb(0 0 0 / 12%);border-bottom:none}
.subtab>ul.tab li a.active{color:#607D8B;background:linear-gradient(to bottom,#f2f2f2 0%,#fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2',endColorstr='#ffffff',GradientType=0)}
.subtab .tabcontent{padding:15px 0}
.ModifyWhois input{padding:15px 0 15px 0}
#tab-dns #ModifyDns input{width:100%}
.DomainModuleChildPage{margin-top:15px}
.tabcontentcon .addDnsRecord_table td{padding:20px 10px}
#modernpanel .yuzde30 {vertical-align: top;}
.orderuserlogin h5 {    font-weight: 600;    margin-top: 10px;}
.faturabilgisi .red-info h5 {color:white;}
#clean-theme-client .faturabilgisi .red-info h5 {color:#3b6b91;}
.spottlds {width:auto;padding: 0px 25px;    border: none;}
.spottlds img {    float: inherit;}
#payment-screen-content {    text-align: center;    padding: 30px 0px;    margin-bottom: 20px;    padding-top: 0px;}
.g_id_signin {display:inline-block;} 
#twitpaylas:hover {    background: #000000;}
.dns-record-value{ word-break: break-word;}
.lookcolum {line-height: normal;}
.order-stage-subdomain input{width:30%;border-top-right-radius:0;border-bottom-right-radius:0;border-right:0;margin:0;margin-right:-4px;padding-top:16px;padding-bottom:20px}
.order-stage-subdomain select{width:60%;border-top-left-radius:0;border-bottom-left-radius:0;border-left:0}
#clean-theme-client .order-stage-subdomain input {border-top-right-radius:0;border-bottom-right-radius:0;}
#clean-theme-client .alanadisorgu input {padding-top: 16px;}

@media only screen and (min-width:320px) and (max-width:1024px) {
    .socialconnect{width:100%;margin-bottom:15px}
    .orderuserlogin .socialconnect{margin-top:20px}
    .ac-domainlist-status{margin-top:15px}
    .cart-additional-details{width:200%;font-size:13px}
    .sepetlistcon .checkbox-custom-label{font-size:13px}
    #ModifyDefaultNameserver input{width:100%}
    #tab-dns .yuzde33{width:100%}
    .formcon .yuzde40{width:100%}
    #gorusgonder .yuzde50{width:100%}
    .alanadisorgu select {font-size: 15px;}
    .order-stage-subdomain input{width:80%;border-radius:50px}
    .order-stage-subdomain select{width:90%;border-radius:50px;padding-top:19px;margin-top:5px}
    .domainsec .order-stage-subdomain .gonderbtn {padding: 15px 0px;}
    #clean-theme-client .order-stage-subdomain input {border-radius:50px;}
    #clean-theme-client .order-stage-subdomain select{width:85%;padding:16px 10px}
    #clean-theme-client .domainsec .alanadisorgu .gonderbtn{margin-left:-159px;padding:13px 0px}



}